*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    position: relative;
    background: #1d1d1d;
    color: #fff;
    font-family: 'roboto', sans-serif;
}


/* home section */

.home{
    width: 100%;
    min-height: calc(105vh );
    height: auto;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/front.jpg);
    position: relative;
}
#circle {
	width: 40vh;
	height: 40vh;
	border-radius: 50%;
	background: rgba(51, 54, 54, 0.3);
	position: absolute;
	top: 30vh;
	left: 70%;
	transform: translate3d(-50%, 0, 0);
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3);
}
#tri1 {
    clip-path: polygon(0 10%, 100% 0, 50% 100%);
    width: 80vh;
    height: 60vh;
    background: url(images/ep.jpg)no-repeat center;
    background-size: cover;
    position: absolute;
    top: 5vh;
    left: 65%;
    transform: translate3d(-50%, 0, 0);
    filter: hue-rotate(310deg) contrast(140%);
    opacity: 0.8;    
    
}
#tri2 {
	clip-path: polygon(50% 0, 0% 100%, 9% 100%, 
	50% 17%, 50% 17%, 85% 91%, 13% 91%, 0 100%, 
	100% 100%, 50% 0);
	width: 70vh;
	height: 50vh;
    background: url(images/ep.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 33vh;
	left: 57%;
	transform: translate3d(-50%, 0, 0);
	filter: hue-rotate(90deg) contrast(140%);
	opacity: 0.9;
}

.hero-content{
    width: 50%;
	
}

.hero-heading{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
}

.highlight{
    color: #ff3559;
}

.profession{
    width: fit-content;
    display: block;
    margin: 10px 0 20px;
    margin-left: auto;
    text-transform: capitalize;
    position: relative;
    padding: 10px 20px;
    color: #1d1d1d;
    z-index: 2;
}

.profession::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    z-index: -1;
    transform: skewX(10deg);
}

.profession::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 2px;
    background: #e3e3e3;
}

.info{
    line-height: 30px;
    margin-bottom: 50px;
}

.btn{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    background: #ff3559;
    color: #fff;
    text-transform: capitalize;
    border: none;
}



/* about section */

.about{
    width: 100%;
    height: auto;
    padding: 50px 10vw;
}

.heading{
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
    text-transform: capitalize;
}

.sub-heading{
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    opacity: 0.7;
}

.seperator{
    width: 25%;
    margin: 20px auto;
    position: relative;
}

.about-me-container{
    margin: 30px 0 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 50px;
  
}

.left-col, .right-col{
    position: relative;
}




.about-image{
    border-radius: 10px; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.about-para{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 40px;
}

.container{
    position: relative;
    top:0px;  
    width: 80%;
    height:400px;
  
    padding:25px;
    border-radius: 12px;
 
  
  }
  .container >h1{
text-align: center;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #12192c;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #121;
    font-weight: 600;
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 3s 0s;
    -moz-animation: load 3s 0s;
    -o-animation: load 3s 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .bar.html5::before{
    background-color: #ffa200;
    width: calc(80% - 10px);
  }
  .bar.css3::before{
    background-color: hsla(208, 100%, 52%,1);
    width: calc(60% - 10px);
  }
  .bar.javascript::before{
    background-color: hsla(147, 100%, 41%,1);
    width: calc(50% - 10px);
  }
  .bar.python::before{
      background-color: hsla(48, 92%, 57%,1);
    width: calc(40% - 10px);
  }
  .bar.php::before{
      background-color: hsla(279, 92%, 57%,1);
    width: calc(70% - 10px);
  }
  .bar.CSHARP::before{
    background-color: rgba(244, 66, 198,1);
  width: calc(60% - 10px);
}


/* project section */



.mycontainourteam{
    width: 100%;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.mycontainourteam2{
    width: 100%;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.wrapper {
   
    height: 200px;
    width: 300px;
    background-color: #3760C9;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
#0000ff, #00ff00,#ffff00, #ff0000);
  }
  .wrapper:hover{
    height: 210px;
    width: 310px;
  }
  
.block {
    position: relative;
    margin: 40px;
    height: 200px;
    margin-left: 8px;
    width: 300px;
   
    background: linear-gradient(0deg, #000, #272727);
    }
    
    .block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    }
    
    @keyframes steam {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
    }
    
    .block:after {
    filter: blur(50px);
    }
  
  .lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
  }
  
  /* Lid when closed */
  .lid.one {
    border-top: 80px solid #22222a;
    transform: rotateX(0deg);
 
    z-index: 3;
    transition-delay: 0.75s;
  }
  
  /* Lid when opened */
  .lid.two {
    border-top: 100px solid rgb(123, 124, 128);
    transform: rotateX(90deg);
    z-index: 1;
   
    transition-delay: 0.5s;
  }
  
  .envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 80px solid transparent;
    border-right: 50px solid #cacad8;
    border-bottom: 100px solid #6e6e70;
    border-left: 50px solid #404d55;
    z-index: 3;
  }
  
  .letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
  }
  
  .letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
  }
  
  .wrapper:hover .lid.one {
      transform: rotateX(90deg);
      transition-delay: 0s;
  }
  
  .wrapper:hover .lid.two {
      transform: rotateX(180deg);
      transition-delay: 0.25s;
  }
  
  .wrapper:hover .letter {
    transform: translateY(-50px);
    transition-delay: 0.5s;
  }
  
