@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans+Condensed:wght@700&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');

.about {
    font-size: 20px;
    font-family: Rubik sans-serif;
    text-align: center;
    color: rgb(20, 20, 20);
    margin: 50px;
    padding: 10px 200px;
}
.about h1 {
    font-size: 50px;
    font-weight: bold;
}