@mixin tab($col,$tabPos){
  
  &::after{
    content:'';     
    position:absolute;
    width:5vw;
    height:25vh;
    background:$col;
    border-radius:0 20px 20px 0;
    top:$tabPos;
    right:-4vw;
  }
}

$col1: #726f6e;
$col2: white;
$col3: white;
$col4: white;
$col5: rgb(211, 195, 195);

html,body{
  height:100%;
  margin:0;
}

.tab{
  height:108%;
  position:absolute;
  box-shadow:6px 0px 6px rgba(0,0,0,0.3);
  transition: all 0.5s ease;
  &:hover ~ div{
    transform:translateX(-80vw);
  }
}

#tab0{
  @extend .tab;
  width:110vw;
  background:black;
}

#tab1{
  @extend .tab;
  width:95vw;
  background:$col4;
  @include tab($col5,75%);
}

#tab2{
  @extend .tab;
  width:90vw;
  background:$col3;
  @include tab($col5,50%);
}

#tab3{
  @extend .tab;
  width:85vw;
  background:$col2;
  @include tab($col5,25%);
}

#tab4{
  @extend .tab;
  width:80vw;
  background:$col1;

  @include tab($col5,0);
}